
nav{
    /* background: rgb(76,180,215);
    background: linear-gradient(90deg, rgba(76,180,215,1) 0%, rgba(9,105,190,1) 100%);
 */

/* CITI BANK HEADER */

/* background: rgb(6,184,238);
background: linear-gradient(180deg, rgba(6,184,238,1) 0%, rgba(39,96,159,1) 100%); */

background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(75,79,79,1) 100%);


}