<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 border">
            <app-category></app-category>
            <app-filterproduct></app-filterproduct>
        </div>

        <div class="col-10">
            <div class="col mt-5 px-5">
                <div class="row itemsBlock">
                    <div class="col-sm-6 col-12">
                        <app-laptop></app-laptop>
                    </div>
                    <div class="col-sm-6 col-12">
                        <app-smartphone></app-smartphone>
                    </div>
                </div>
            </div>
        </div>
    </div>